* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: aliceblue;
}

body {
  background-color: black;
}

#app {
  display: flex;
  width: 100%;
}

#sidebar {
  margin: 10px;
}

#main-container {
  background-color: gray;
  width: 1000px;
  margin-left: 30px;
  margin-top: 10px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#obj-container {
  align-self: center;
  background-color: rgb(60, 59, 59);
  width: 30%;
  margin-left: 30px;
  height: 200px;
  position: fixed;
  top: 27%;
}

li {
  cursor: pointer;
}

li:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
  color: #ffffff9c;
}

#profile-container {
  width: 100px;
  height: 200px;
  background-color: burlywood;
  margin-top: 10px;
  position: absolute;
  padding: 5px;
  right: 1%;
  top: 0;
}
